@import "./functions.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

html,
body {
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Poppins", sans-serif;
}
