<div class="container">
  <div class="botoes">
    <p class="github">
      <a href="https://github.com/FelipeAlfaya" title="github"></a>
    </p>
    <span class="linkedin">
      <p class="github">
        <a
          href="https://www.linkedin.com/in/felipealfaya/"
          title="linkedin"
        ></a>
      </p>
    </span>
    <span class="contato">
      <p class="github">
        <a href="/" title="contato"></a>
      </p>
    </span>
  </div>
  <img src="./assets/eu.png" alt="Foto de Felipe" />
  <p>Felipe Alfaya</p>
  <p class="subtitle">Desenvolvedor Web Front-End</p>
</div>
