<div class="container">
  <div class="botoes">
    <p class="github">
      <a
        href="https://github.com/FelipeAlfaya"
        title="GitHub"
        target="_blank"
      ></a>
    </p>
    <span class="linkedin">
      <p class="github">
        <a
          href="https://www.linkedin.com/in/felipealfaya/"
          title="LinkedIn"
          target="_blank"
        ></a>
      </p>
    </span>
    <span class="contato">
      <p class="github">
        <a routerLink="contato" title="contato"></a>
      </p>
    </span>
  </div>
  <img src="./assets/eu.png" alt="Foto de Felipe" class="perfil" />
  <p class="title">Felipe Alfaya</p>
  <p class="subtitle">Desenvolvedor Web Front-End</p>
</div>
